strong
{
    font-size: 0.8vw;
}

.tweet-item-text, .youtube-headline, .youtube-uploader, .youtube-views, .itunes-title, .itunes-publisher, .itunes-price
{
    font-size: 0.8vw;
    margin: 0 0 0 .1vw;
}

#top-row
{
    height: 60vh;
}

#channel-section, #video-section, #twitter-section
{
    height: 100%;
}

.list-group-item
{
    display: flex;
}

.tweet-item-avatar-image
{
    width: 100%;
    float: left;
    display: inline-block;
}

.tweet-item-fullname
{
    overflow: hidden;
}

.tweet-item-text
{
    display: inline-block;
}


.channel-button
{
    width: 100%;
}

.youtube-list-group
{
    width: 100%;
    padding: 0;
}

.youtube-item, .itunes-item
{
    width: 100%;
}
.youtube-thumbnail, .itunes-thumbnail
{
    width: 30%;
    display: inline-block;
    float: left;
}
.youtube-thumbnail>img, .itunes-thumbnail>img
{
    width: 100%;
}
.youtube-info, .itunes-info
{
    width: 70%;
    display: inline-block;;
    float: left;
}

#youtube-video
{
    width: 100%;
    height: 50vh;
}